<main class="page login-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Novo Produto</h2>
            </div>
            <form>
                <div class="form-group"><label for="nome">Nome</label><input class="form-control item" type="text" id="nome"></div>
                <div class="form-group"><label for="password">Categoria</label><input class="form-control" type="password" id="password"></div>
                <mat-form-field appearance="outline">
                    <label for="img">Fotos do Produto</label>
                    <ngx-mat-file-input name="img" id="img" [(ngModel)]="img" placeholder="Até 5 imagens..." [accept]="['.png','.jpg','.jpeg','.gif']" class="input-img" multiple>
                    </ngx-mat-file-input>
                    <mat-hint>Até 5 imagens</mat-hint>
                    <div class="text-right i-image">
                        <i-image></i-image>
                    </div>
                </mat-form-field>
                <button class="btn btn-outline-brown btn-block mt-5" type="submit">Acessar</button></form>
        </div>
    </section>
  </main>