.brown {
    background-color: var(--main-color)!important;
}

.active {
    background-color: var(--acc-color);
}
.logo img {
    max-height: 50px;
}
@media (max-width: 576px){
    .logo img {
        max-width: 200px;
    }
}