<header>
  <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-black brown clean-navbar">
    <div class="container">
      <a class="navbar-brand logo btn" routerLink="/home">O Armazém do Rústico</a>
      <button data-toggle="collapse" class="navbar-toggler btn-sm btn btn-outline-brown" data-target="#navcol-1">
        <span class="sr-only">Toggle navigation</span><i-menu></i-menu>
      </button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item"><a role="button" class="nav-link btn-sm btn btn-outline-brown" routerLinkActive="active" routerLink="/produtos">Produtos</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

