<header>
  <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-black brown clean-navbar">
    <div class="container">
      <a class="navbar-brand logo btn" routerLink="/home">
        <img src="https://docs.google.com/drawings/d/e/2PACX-1vRoSZOF9_2114P6TCFkLMLlxbxszk8-yExp5WK5y5d7f-SITp4MuXpnPB_XamSu7yROT4A4UWMU3PAO/pub?w=1314&amp;h=196">
      </a>
      <button data-toggle="collapse" class="navbar-toggler btn-sm btn btn-brown" data-target="#navcol-1">
        <span class="sr-only">Toggle navigation</span><i-menu></i-menu>
      </button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item"><a role="button" class="nav-link btn-sm btn btn-brown" routerLinkActive="active" routerLink="/produtos">Produtos</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

