.brown {
    background-color: var(--main-color)!important;
}
.btn-outline-brown {
    background-color: var(--main-color);
    border-color: white;
    color: white !important;
}
.btn-outline-brown:hover {
    background-color: var(--acc-color);
}
.active {
    background-color: var(--acc-color);
}
