<footer class="page-footer dark">
  <div class="container">
      <div class="row">
          <div class="col-sm-3">
              <h5>Desenvolvido por:</h5>
              <ul>
                  <li><a href="https://wa.me/+5551999262182?text=Peguei seu contato no oarmazemdorustico.com">Gabriel Zanatto Salami</a></li>
                  <li><a href="https://wa.me/+5551998991257?text=Peguei seu contato no oarmazemdorustico.com">Guilherme Menezes Pacheco</a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="footer-copyright">
      <p>© 2019 - O Armazém do Rústico</p>
  </div>
</footer>