<footer class="page-footer dark">
  <div class="container">
      <div class="row">
          <div class="col-sm-3">
              <h5>Get started</h5>
              <ul>
                  <li><a routerLink="/novo/produto">Novo Produto</a></li>
                  <li><a routerLink="/entrar">Entrar</a></li>
                  <li><a href="#">Downloads</a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="footer-copyright">
      <p>© 2018 Copyright Text</p>
  </div>
</footer>