<nav role="toolbar" data-toggle="buttons" class="sticky-top btn-toolbar btn-group-toggle">
  <label class="btn btn-outline-brown active" (click)="setTitle('Todos os Móveis')">
    <input type="radio" checked>Todos
  </label>
  <label class="btn btn-outline-brown" (click)="setTitle('Mesas')">
    <input type="radio">Mesas
  </label>
  <label class="btn btn-outline-brown" (click)="setTitle('Cadeiras')">
    <input type="radio">Cadeiras
  </label>
  <label class="btn btn-outline-brown" (click)="setTitle('Portas')">
    <input type="radio">Portas
  </label>
  <label class="btn btn-outline-brown" (click)="setTitle('Janelas')">
    <input type="radio">Janelas
  </label>
  <label class="btn btn-outline-brown" (click)="setTitle('Prateleiras')">
    <input type="radio">Prateleiras
  </label>
  <label class="btn btn-outline-brown" (click)="setTitle('Gamelas')">
    <input type="radio">Gamelas
  </label>
</nav>
<main class="page service-page">
  <section class="clean-block clean-services">
      <div class="container">
          <div class="block-heading">
              <h2 class="text-info">{{title}}</h2>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4" *ngFor="let product of products">
              <div class="card clean-card">
                <img class="card-img-top w-100 d-block" src="{{product.img[0]}}" routerLink="/produtos/{{product._id}}">
                <div class="card-body">
                  <h4 class="card-title" routerLink="/produtos/{{product._id}}">{{product.titulo}}</h4>
                  <p class="card-text" routerLink="/produtos/{{product._id}}">{{product.descricao}}</p>
                </div>
                <div>
                  <a role="button" target="_blank" rel="noopener noreferrer" 
                  href="https://wa.me/555136584137?text=Olá, estou interessado(a) no produto: oarmazemdorustico.com/produtos/{{product._id}}" 
                  class="btn btn-outline-success btn-sm mb-4">
                    <img src="/assets/img/wpp.png" class="wpp">
                    Pedir no WhatsApp
                  </a>
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>
</main>