<main class="page service-page">
  <section class="clean-block clean-services dark">
      <div class="container">
          <div class="block-heading">
              <h2 class="text-info">Todos os produtos</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
          </div>
          <div class="row">
                <div class="col-md-6 col-lg-4" routerLink="/produtos/1">
                  <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/image5.jpg?h=5a16d46fccd884924ce66752802d76c5">
                      <div class="card-body">
                          <h4 class="card-title">Lorem Ipsum</h4>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                      </div>
                      <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4" routerLink="/produtos/2">
                  <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/image6.jpg?h=26f762ae21fd9cce95e86763ac6154ca">
                      <div class="card-body">
                          <h4 class="card-title">Lorem Ipsum</h4>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                      </div>
                      <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4" routerLink="/produtos/3">
                  <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/image1.jpg?h=323a7e5d8e12e9b60d93996156594f41">
                      <div class="card-body">
                          <h4 class="card-title">Lorem Ipsum</h4>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                      </div>
                      <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4" routerLink="/produtos/4">
                  <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/image1.jpg?h=323a7e5d8e12e9b60d93996156594f41">
                      <div class="card-body">
                          <h4 class="card-title">Lorem Ipsum</h4>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                      </div>
                      <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4" routerLink="/produtos/5">
                  <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/image5.jpg?h=5a16d46fccd884924ce66752802d76c5">
                      <div class="card-body">
                          <h4 class="card-title">Lorem Ipsum</h4>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                      </div>
                      <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4" routerLink="/produtos/6">
                  <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/image6.jpg?h=26f762ae21fd9cce95e86763ac6154ca">
                      <div class="card-body">
                          <h4 class="card-title">Lorem Ipsum</h4>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                      </div>
                      <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</main>