/* You can add global styles to this file, and also import other style files */
:root {
    --main-color: #592E0B;
    --acc-color: #3F2212;
}
@media (max-width: 576px){
    .page {
        margin-top: 5% !important;
    }
}
@media (max-width: 366px){
    .page {
        margin-top: 20% !important;
    }
}
h2.text-info {
    color: var(--main-color) !important;
}